/* #x{
    margin-top: 0px;
}
#navbar2 ul{
    height: 75px;
}
#navbar{
    height: 150px;
} */
#x img{
    height: 150px;
}
#y img{
    height: 150px;
}
#z img{
    height: 150px;
}
#za img{
    height: 150px;
}